body { 
    margin: 0;
    font-family: "Montserrat", sans-serif; /* шрифт */
    font-size: 15px; /*розмір шрифта*/
    line-height: 1.6; /* міжстроковий відступ */
    color: #333; /*колір шрифта*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Скидання для всіх заголовків margin : */
h1, h2, h3, h4, h5, h6{ 
    margin: 0;
}

/* Створення початкового контейнеру */
.container{ 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Стилі для intro  */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh; /* займає 100 відсотків екрану відвідувача */
    background: url("/assets/images/01-PhotoGenshin.png") center no-repeat; /* розташовує зображення посередині і прибирає повтор */
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto; /* вирівнювання по центру */
 

    text-align: center;
}

.intro__title{
    color: #fcecdf;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

/* Створення полоски під .intro__title та .intro__suptitle */
.intro__title::after{
    margin-bottom: 20px;

    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fcecdf;

}

.intro__suptitle {
    font-family: "Kaushan Script", serif;
    font-size: 72px;
    color: #fcecdf;
    text-align: center;
    
}

/* стілізування шапки .header*/
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute; 
    top: 0;
    left: 0 ;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700; /* bold */
    color: #fcecdf;
}

/* Навігація */
.nav { 
    font-size: 14px;
    text-transform: uppercase; /* Перетворює всі літери тексту всередині елеметів цього класу на велики */
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fcecdf;
    text-decoration: none; /* прибирає підкреслювання знизу у посилань */
    
    transition: color 0.1s linear; /* плавна зміна кольору при наведенні на посилання */
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background: #ee6a43;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover{ /* зміна кольору при наваеденні на посилання */
    color: #ee6a43;
}

.nav__link:hover:after,
.nav__link.active:after{
    opacity: 1;
}

.nav__link.active{
    color: #ee6a43;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px; /* Спочатку в нас йдуть відступи зверху та знизу, потім справа та зліва */   

    border: 3px solid #fcecdf;

    font-size: 14px;
    font-weight: 700;

    color: #fcecdf;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover{
    background-color: #fcecdf;
    color: #333;
}

/* Slider */
.slider {
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_inner{
    display: flex;
    justify-content: space-between;

}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fcecdf;
    opacity: .7;

    font-size: 18px;
    color: #fcecdf;
    text-transform: uppercase;
}

.slider__item.active{
    opacity: 1;
}

.slider__item.active:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num{
    font-size: 24px;
    font-weight: 700;
}

/* Section  */
.section{
    padding: 80px 0;
}

.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section__suptitle{
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}

.section__title{
    font-family: 30px; /* розмір тексту */
    font-weight: 700px; /* жирний шрифт */
    color: #333;
    text-transform: uppercase; /* переводить текст у верхній регістр */
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #ee6a43;
}

.section__text{
    font-size: 15px;
    color: #999;
}

/* about */
.about{
    display: flex;
    justify-content: space-between;
}

.about__item{
    width: 380px;

    background-color: #95e1d3;
}

.about__item:hover .about__img{
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__img{
    background: linear-gradient(to bottom,
    #f38181, #fce38a);

    transition: transform .2s linear;
}

.about__img img{
    display: block;
    transition: opacity .1s linear;
}